.profile__add-button {
  justify-self: flex-end;
  margin-left: auto;
  background: black;
  color: #ffffff;
  width: 150px;
  height: 50px;
  border: #ffffff 2px solid;
  border-radius: 2px;

  background-image: url("../../../images/add-button.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 22px 22px;
}

.profile__add-button:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media (max-width: 699px) {
  .profile__add-button {
    margin: 0;
  }
}


@media(max-width:539px) {
  .profile__add-button {
    margin: 0 auto;
    width: 100%;

  }
}
