.elements {
  padding: 0;
  max-width: 880px;
  margin: 0 auto;
  margin-bottom: 67px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  gap: 17px;
}

@media (max-width: 655px) {
  .elements {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 5px;
  }
}

@media (max-width: 584px) {
  .elements {
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  }
}

@media (max-width: 539px) {
  .elements {
    max-width: 320px;
    grid-template-columns: 282px;
    gap: 20px;
    display: flex;
    flex-direction: column;
  }
}
