.popup__close {
  padding: 0;
  margin: 0;
  float: right;
  width: 40px;
  height: 40px;
  font-size: 66px;
  line-height: 0.5;
  text-align: center;
  color: #ffffff;
  position: absolute;
  top: -37px;
  right: -37px;
  background-image: url("../../../images/popup-close.svg");
}

.popup__close:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media (max-width: 539px) {
  .popup__close {
    width: 26px;
    height: 26px;
    right: -4px;
    font-size: 42px;
    text-align: left;
    margin: 0;
    padding: 0;
  }
}
