.popup__input-message {
  color: red;
  text-align: left;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 13px;
  max-width: 358px;
  display: none;


}

.popup__input-message:last-of-type  {
  margin-bottom: 0;
}

