

.popup__title {
  width: 358px;
  padding: 0;
  margin: 0;
  margin-bottom: 54px;
  color: #000000;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-align: left;
}

@media(max-width: 539px) {
  .popup__title {
	width: 238px;
    font-size: 18px;
    line-height: 21px;
  }
}
